.chat {
  /* margin: 2.5rem; */
}
@media only screen and (max-width: 768px) {
  /* For tablets: */
  .chat {
    width: 200px;
    height: 300px;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .chat {
    width: 600px;
    height: 500px;
  }
}
