body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.Container {
  width: 700px;
  height: 600px;
  display: flex;
  align-content: center;
  margin: auto;
  padding-top: 2rem;
  background-color: white;
  justify-content: safe;
  gap: 5rem;
}
h2 {
  text-align: center;
  margin-top: 2rem;
}
